{% extends 'app/base.html' %}
{% load crispy_forms_tags %}
{% block content %} 


    <div class="container pt-4">
        <div class="row mt-4 p-0">
            <div class="col-lg-4 shadow p-0 pb-4">
                <div class="alert alert-info">
                    <h3>Add New Todo</h3>
                </div>
        
                <div class="p-4">
                    <form action = "add-item/" method="post">
                        {% csrf_token %}
                        {{ form.title | as_crispy_field }}
                        <div class="row">
                            <div class="col-md-8">
                                {{ form.status| as_crispy_field }}
                            </div>
                            <div class="col-md-4">
                                {{ form.priority | as_crispy_field }}
                            </div>
                        </div>
                        <hr>
                        <button class = "btn btn-outline-info" >Add item</button>
                    </form>
                </div>
            
            </div>

            <div class="col">
                <div class="border">
                    {% if all_items|length == 0 %}
                        <div class="p-4">
                            <br><br>
                            <div class="alert alert-info text-center">
                                <h2>No Todos Yet</h2>
                            </div>
                            <br> <br>
                        </div>

                    {% else %}
                        <div  class = 'text-right'>
                            <a href="{% url 'delete-completed' user.username %}" title = "Delete Completed" class= 'btn'>🔴</a>
                            <a href="{% url 'delete-all' user.username %}" title = "Delete All" class= 'btn'>🔵</a>
    
                        </div>
                        <table class = "table">
                            <thead>
                                <tr>
                                    <td>#</td>
                                    <td>Title</td>
                                    <td>Status</td>
                                    <td>Priority</td>
                                    <td>Actions</td>
                                </tr>
                            </thead>

                            <tbody>
                                {% for item in all_items %} 
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ item.title }}</td>
                                        <td>
                                            {% if item.status == "C" %}  
                                            ✅
                                            {% else %} 
                                            🕛
                                            {% endif %}
                                            
                                        </td>
                                        <td>{{ item.priority }}</td>
                                        <td>
                                            <a href="{% url 'delete-item' item.id %}" title = 'delete' >🗑️</a>

                                            {% if item.status == "P" %}
                                                <a href="{% url 'change-status' item.id  'C' %}" title = 'Mark as completed'>✅</a>    
                                            {% else %}
                                                <a href="{% url 'change-status' item.id 'P' %}" title = 'Mark as pending'>🕛</a>    

                                            {% endif %}
                                        </td>
                                    </tr>

                                {% endfor %}
                            </tbody>

                        </table>
                        
                        {% endif %}
                        
                        
                    </div>

                    <div class = "row text-center pt-2">
                        <div class = "col-md-6 pl-4">
                            {% if all_items.has_previous %}
                            <a href="{% url 'home' %}?page={{ all_items.previous_page_number }} " class= 'btn btn-outline-info' >⮜ Prev</a>
                        {% endif %}
                        </div>

                        <div class="col-md-6 pr-4">
                            {% if all_items.has_next %}
                                <a href="{% url 'home' %}?page={{ all_items.next_page_number }}"  class = 'btn btn-outline-info'>Next ⮞</a>
                            {% endif %}

                        </div>

                    </div>
    
            </div>
            
        </div>
    
    
    </div>
{% endblock content %}